
{% extends "speechtotask/base.html" %}
{% block home-nav %}
    <li class="nav-item"><a href="#" class = "nav-link active" aria-current="page">Create</a></li>
{% endblock %}

{% block page-title %} <h2 id="recordingState" class="text-center"> Start Recording: </h2> {% endblock %}

{% block body %}
   <div class="container col-*-1 text-center">
    <input type="checkbox" id="muteCheck" name="muteCheck">
    <label for = "muteCheck"> Mute Assistant </label>
    <p id="hi" style="display:none"> Hi! How is your day going? Leave a voice memo whenever you're ready and I will add it to your to-do list. </p>
   </div>
    {#<select id="prompt">#}
    {#    <option value = "day">How was your day?</option>#}
    {#    <option value = "task"> Create To-Do List </option>#}
    {#</select>#}
    <div class = "buttons">
        <div class="container col-*-1 text-center">
            <svg height="100" width="100" class="blinking">
                <circle id ="recordIndicator" cx="50" cy="50" r="10" fill="#FFFFFF"></circle>
                Sorry, your browser does not support inline SVG.
            </svg>
            <span class="time" id="display">00:00:00</span>
        </div>
        {#    <p id = "label" style="color:#FFFFFF"> Recording..</p>#}
    </div>
    <div class = "col-md-12 text-center">
        <div class="'buttons">
            {% csrf_token %}
            <button id="recordButton">Record</button>
            <button id="stopButton" disabled>Stop</button>
	    {% if results %}
            <form action= {{results}}>
    		<input id = "results" type="submit" value="Go to To-Do List"/>
	    </form>
	    {%else%}
                <form method = "post" action="{% url 'speechtotask:summary' %}">
                {% csrf_token %}
                <input id = "results" type="submit" value="Go to To-Do List"/>
            	</form>
	    {% endif %}
	</div>
    </div>


    <div id = "hiddenForm" class="text-center">
    <div class="row justify-content-center">
           <p id= "confirm" style="display:none"> Thanks for using Speech to Task. Your voice memo will be available on the to-do list shortly! </p>
           <form>
            <button class="buttonload">
             <i class="fa fa-circle-o-notch fa-spin"></i> Uploading....
            </button>
            <p id="title-prompt">Create a title for your recording: </p>
            <div class = "container col-*-1 text-center">
            <label for = "prompt" id="label"> Title (optional): </label>
            <input type="text" id="prompt" name="prompt">
            </div>
            <div class="col-xs-12">
             <button type="submit" id="submit-prompt" data-ajax-url = "{% url 'speechtotask:upload' %}" data-ajax-prompt-url = "{% url 'speechtotask:prompt' %}" class="mt-1"> Upload Recording </button>
            </div>
        </form>
        <div class="col-xs-12 text-center">
        <form method="post" action="{% url 'speechtotask:home' %}">
            {% csrf_token %}
            <button type="'submit" id="cancel-prompt" class="mt-1">Cancel </button>
        </form>
        </div>
    </div>
    </div>


    {#<h2>Recordings</h2>#}
    {#<ol id="recordingsList"></ol>#}

{% endblock %}
